/*--------COLORS--------*/
/*The hsl() functional notation expresses a given color according to its hue, saturation, and lightness components.
An optional alpha ("hsla()") component represents the color's transparency.
Lightness as a third value in bracket means opacity.*/
/*text*/
$blueDark: hsl(238, 29%, 16%); /*very dark desaturated blue*/
$redSoft: hsl(14, 88%, 65%);

/*background gradients*/
$blueSoft: hsl(240, 73%, 65%);
$violetSoft: hsl(273, 75%, 66%);

/*text*/
$blueGrayishDark1: hsl(237, 12%, 33%); /*Very dark grayish blue*/
$blueGrayishDark2: hsl(240, 6%, 50%); /*Dark grayish blue*/

/*dividers*/
$blueGrayishLight: hsl(240, 5%, 91%); /*Light grayish blue*/

/*other*/
$white: #fff;
/*----------------------*/

/*--------WIDTH---------*/
$desktop: 1440px;
$mobile: 375px;
/*----------------------*/

/*------TYPOGRAPHY------*/
/*FONT weights*/
$fontBold: 700;
$fontRegular: 400;

/*FONT family*/
$fontFamily: Kumbh Sans;

/*FONT sizes*/
$fontSize: 12px;
$fontSizeMobile: 12px;
$fontSizeDesktop: 14px;
/*----------------------*/
