/*--------COLORS--------*/
/*text*/
$blueDark: hsl(238, 29%, 16%); /*very dark desaturated blue*/
$redSoft: hsl(14, 88%, 65%);

/*background gradients*/
$violetSoft: hsl(273, 75%, 66%);
$blueSoft: hsl(240, 73%, 65%);

/*text*/
$blueGrayishDark1: hsl(237, 12%, 33%); /*Very dark grayish blue*/
$blueGrayishDark2: hsl(240, 6%, 50%); /*Dark grayish blue*/

/*dividers*/
$blueGrayishLight: hsl(240, 5%, 91%); /*Light grayish blue*/
/*----------------------*/

/*--------WIDTH---------*/
$desktop: 1440px;
$mobile: 375px;
/*----------------------*/
