@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
@import "_variables.scss";
@import "modules/card-text.scss";
@import "modules/questions.scss";
@import "modules/attribution.scss";
@import "modules/card-images.scss";

/*-------------------*/
/*universal box sizing with inheritance*/
/*pozwala m.in. na zdefiniowanie w ,,rodzicu" inny "box-sizing" (np. border-box)*/
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
/*-------------------*/

body {
  font-family: $fontFamily;
  font-size: $fontSize;
  color: $blueDark;
  background: linear-gradient($violetSoft, $blueSoft);
}

main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5rem 0;
}
