@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
/*--------COLORS--------*/
/*The hsl() functional notation expresses a given color according to its hue, saturation, and lightness components.
An optional alpha ("hsla()") component represents the color's transparency.
Lightness as a third value in bracket means opacity.*/
/*text*/
/*very dark desaturated blue*/
/*background gradients*/
/*text*/
/*Very dark grayish blue*/
/*Dark grayish blue*/
/*dividers*/
/*Light grayish blue*/
/*other*/
/*----------------------*/
/*--------WIDTH---------*/
/*----------------------*/
/*------TYPOGRAPHY------*/
/*FONT weights*/
/*FONT family*/
/*FONT size*/
/*----------------------*/
/*--------COLORS--------*/
/*The hsl() functional notation expresses a given color according to its hue, saturation, and lightness components.
An optional alpha ("hsla()") component represents the color's transparency.
Lightness as a third value in bracket means opacity.*/
/*text*/
/*very dark desaturated blue*/
/*background gradients*/
/*text*/
/*Very dark grayish blue*/
/*Dark grayish blue*/
/*dividers*/
/*Light grayish blue*/
/*other*/
/*----------------------*/
/*--------WIDTH---------*/
/*----------------------*/
/*------TYPOGRAPHY------*/
/*FONT weights*/
/*FONT family*/
/*FONT size*/
/*----------------------*/
.card-main {
  background: #fff;
  border-radius: 1.5rem;
  margin: 0 auto;
  width: 90%;
  position: relative;
  margin-top: 11rem; }

@media (min-width: 375px) {
  .card-main {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 50rem;
    margin-top: 0; } }

@keyframes rotateArrow {
  to {
    transform: rotate(180deg); } }

@keyframes rotateArrowInverse {
  from {
    transform: rotate(180deg); }
  to {
    transform: rotate(0deg); } }

details[open] > summary {
  color: #4a4b5e; }
  details[open] > summary .question-summary__arrow {
    animation: rotateArrow 0.2s ease-out;
    animation-fill-mode: forwards; }

details > summary .question-summary__arrow {
  animation: rotateArrowInverse 0.2s ease-out;
  animation-fill-mode: forwards; }

.question-answer {
  color: #787887;
  font-weight: 400;
  width: 90%;
  line-height: 1.125rem;
  height: auto;
  margin-bottom: 1rem; }

.question-details {
  padding: 1rem 0 0.5rem 0;
  border-width: 1px;
  border-style: solid none none none;
  border-color: #e7e7e9; }
  .question-details--5 {
    border-style: solid none; }

.question-summary {
  color: #787887;
  font-weight: 700;
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 0.625rem;
  transition: transform 0.2s linear; }
  .question-summary:hover {
    color: #4a4b5e;
    transform: scale(1.01);
    background: #e7e7e9;
    border-width: 4px;
    border-style: solid none none none;
    border-color: #fff; }
  .question-summary__arrow {
    width: 10px;
    height: 7px; }

.text-container {
  margin: 8.75rem 1.5rem 5rem;
  padding-bottom: 4rem; }

.title__header {
  text-align: center;
  margin-bottom: 1.5rem; }

@media (min-width: 375px) {
  .text-container {
    margin: 5rem 2.5rem 7.5rem 0;
    width: 40%;
    padding-bottom: 0; }
  .title__header {
    text-align: start; } }

/*--------COLORS--------*/
/*The hsl() functional notation expresses a given color according to its hue, saturation, and lightness components.
An optional alpha ("hsla()") component represents the color's transparency.
Lightness as a third value in bracket means opacity.*/
/*text*/
/*very dark desaturated blue*/
/*background gradients*/
/*text*/
/*Very dark grayish blue*/
/*Dark grayish blue*/
/*dividers*/
/*Light grayish blue*/
/*other*/
/*----------------------*/
/*--------WIDTH---------*/
/*----------------------*/
/*------TYPOGRAPHY------*/
/*FONT weights*/
/*FONT family*/
/*FONT size*/
/*----------------------*/
.attribution {
  margin-top: 1rem;
  text-align: center;
  font-size: 11px; }
  .attribution__link {
    color: #1d1e35; }
    .attribution__link:hover {
      font-weight: 700; }
  .attribution__name {
    color: #1d1e35; }
    .attribution__name:hover {
      font-weight: 700; }

@media (min-width: 375px) {
  .attribution {
    font-size: 12px;
    margin-top: 3rem; } }

/*--------COLORS--------*/
/*The hsl() functional notation expresses a given color according to its hue, saturation, and lightness components.
An optional alpha ("hsla()") component represents the color's transparency.
Lightness as a third value in bracket means opacity.*/
/*text*/
/*very dark desaturated blue*/
/*background gradients*/
/*text*/
/*Very dark grayish blue*/
/*Dark grayish blue*/
/*dividers*/
/*Light grayish blue*/
/*other*/
/*----------------------*/
/*--------WIDTH---------*/
/*----------------------*/
/*------TYPOGRAPHY------*/
/*FONT weights*/
/*FONT family*/
/*FONT size*/
/*----------------------*/
.card {
  position: relative; }
  .card__box {
    margin: auto;
    position: absolute;
    display: none;
    top: 40%;
    left: -5.625rem;
    z-index: 9; }
    @media (min-width: 375px) {
      .card__box {
        display: initial; } }

.image-desktop {
  overflow: hidden; }
  .image-desktop__bg {
    display: none; }

.image-desktop__bg--pattern {
  margin: auto;
  position: absolute;
  margin: auto;
  margin-top: -34.6875rem;
  left: -35rem;
  z-index: 1; }

.image-desktop__bg--woman {
  position: absolute;
  margin: auto;
  margin-top: -11.875rem;
  left: -5rem;
  z-index: 3; }

@media (min-width: 375px) {
  .image-desktop__bg {
    display: initial; } }

.image-mobile__bg {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: -6.875rem; }

.image-mobile__bg--pattern {
  top: 0; }

.image-mobile__bg--woman {
  left: -1.625rem; }

@media (min-width: 375px) {
  .image-mobile {
    display: none; } }

/*-------------------*/
/*universal box sizing with inheritance*/
/*pozwala m.in. na zdefiniowanie w ,,rodzicu" inny "box-sizing" (np. border-box)*/
html {
  box-sizing: border-box;
  scroll-behavior: smooth; }

*,
*:before,
*:after {
  box-sizing: inherit; }

/*-------------------*/
body {
  font-family: Kumbh Sans;
  font-size: 12px;
  color: #1d1e35;
  background: linear-gradient(#af67e9, #6565e7); }

main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5rem 0; }
