@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
/*--------COLORS--------*/
/*The hsl() functional notation expresses a given color according to its hue, saturation, and lightness components.
An optional alpha ("hsla()") component represents the color's transparency.
Lightness as a third value in bracket means opacity.*/
/*text*/
/*very dark desaturated blue*/
/*background gradients*/
/*text*/
/*Very dark grayish blue*/
/*Dark grayish blue*/
/*dividers*/
/*Light grayish blue*/
/*other*/
/*----------------------*/
/*--------WIDTH---------*/
/*----------------------*/
/*------TYPOGRAPHY------*/
/*FONT weights*/
/*FONT family*/
/*FONT size*/
/*----------------------*/
/*--------COLORS--------*/
/*The hsl() functional notation expresses a given color according to its hue, saturation, and lightness components.
An optional alpha ("hsla()") component represents the color's transparency.
Lightness as a third value in bracket means opacity.*/
/*text*/
/*very dark desaturated blue*/
/*background gradients*/
/*text*/
/*Very dark grayish blue*/
/*Dark grayish blue*/
/*dividers*/
/*Light grayish blue*/
/*other*/
/*----------------------*/
/*--------WIDTH---------*/
/*----------------------*/
/*------TYPOGRAPHY------*/
/*FONT weights*/
/*FONT family*/
/*FONT size*/
/*----------------------*/
.main-faq {
  background: #fff;
  border-radius: 12px;
  margin: 0 auto;
  max-width: 70vw; }

/*--------COLORS--------*/
/*The hsl() functional notation expresses a given color according to its hue, saturation, and lightness components.
An optional alpha ("hsla()") component represents the color's transparency.
Lightness as a third value in bracket means opacity.*/
/*text*/
/*very dark desaturated blue*/
/*background gradients*/
/*text*/
/*Very dark grayish blue*/
/*Dark grayish blue*/
/*dividers*/
/*Light grayish blue*/
/*other*/
/*----------------------*/
/*--------WIDTH---------*/
/*----------------------*/
/*------TYPOGRAPHY------*/
/*FONT weights*/
/*FONT family*/
/*FONT size*/
/*----------------------*/
details[open] > summary {
  color: #4a4b5e; }

.questions-answer {
  color: #787887;
  font-weight: 400; }

.questions-article {
  margin: 5px 15px;
  border-width: 2px;
  border-style: solid none none none;
  border-color: #e7e7e9; }
  .questions-article--5 {
    border-style: solid none; }

.questions-section {
  color: #787887;
  font-weight: 700;
  border: none;
  background: #fff;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  transition: transform 0.2s linear; }
  .questions-section:hover {
    color: #4a4b5e;
    transform: scale(1.01);
    background: #e7e7e9;
    border-width: 4px;
    border-style: solid none none none;
    border-color: #fff; }
  .questions-section__arrow {
    width: 10px;
    height: 7px; }

.title {
  margin: 5px 15px; }

/*--------COLORS--------*/
/*The hsl() functional notation expresses a given color according to its hue, saturation, and lightness components.
An optional alpha ("hsla()") component represents the color's transparency.
Lightness as a third value in bracket means opacity.*/
/*text*/
/*very dark desaturated blue*/
/*background gradients*/
/*text*/
/*Very dark grayish blue*/
/*Dark grayish blue*/
/*dividers*/
/*Light grayish blue*/
/*other*/
/*----------------------*/
/*--------WIDTH---------*/
/*----------------------*/
/*------TYPOGRAPHY------*/
/*FONT weights*/
/*FONT family*/
/*FONT size*/
/*----------------------*/
.attribution {
  margin-top: 100px;
  text-align: center;
  font-size: 11px; }
  .attribution__link {
    color: #1d1e35; }
  .attribution__name {
    color: #1d1e35; }

/*--------COLORS--------*/
/*The hsl() functional notation expresses a given color according to its hue, saturation, and lightness components.
An optional alpha ("hsla()") component represents the color's transparency.
Lightness as a third value in bracket means opacity.*/
/*text*/
/*very dark desaturated blue*/
/*background gradients*/
/*text*/
/*Very dark grayish blue*/
/*Dark grayish blue*/
/*dividers*/
/*Light grayish blue*/
/*other*/
/*----------------------*/
/*--------WIDTH---------*/
/*----------------------*/
/*------TYPOGRAPHY------*/
/*FONT weights*/
/*FONT family*/
/*FONT size*/
/*----------------------*/
.image-background {
  position: relative; }
  .image-background__box {
    margin: auto;
    position: absolute;
    display: none; }
    @media (min-width: 375px) {
      .image-background__box {
        display: initial; } }

.image-desktop {
  overflow: hidden; }
  .image-desktop__bg {
    display: none; }

@media (min-width: 375px) {
  .image-desktop__bg {
    display: initial; } }

/*.image-container {
  &__box {
    @media (min-width: $mobile) {
      width: 191px;
      height: 194px;
      background: url("images/illustration-box-desktop.svg");
    }
  }

  &__pattern {
    width: 240px;
    height: 104px;
    background: url("images/bg-pattern-mobile.svg");
    top: 0;
    position: relative;
    @media (min-width: $mobile) {
      width: 966px;
      height: 945px;
      background: url("images/bg-pattern-desktop.svg");
      top: 0;
      position: relative;
    }
  }

  &__woman {
    width: 237px;
    height: 180px;
    background: url("images/illustration-woman-online-mobile.svg");
    @media (min-width: $mobile) {
      width: 472px;
      height: 359px;
      background: url("images/illustration-woman-online-desktop.svg");
    }
  }
}
*/
/*-------------------*/
/*universal box sizing with inheritance*/
/*pozwala m.in. na zdefiniowanie w ,,rodzicu" inny "box-sizing" (np. border-box)*/
html {
  box-sizing: border-box;
  scroll-behavior: smooth; }

*,
*:before,
*:after {
  box-sizing: inherit; }

/*-------------------*/
body {
  font-family: Kumbh Sans;
  font-size: 12px;
  color: #1d1e35;
  background: linear-gradient(#af67e9, #6565e7);
  display: grid;
  justify-content: center;
  align-items: center;
  min-height: 100vh; }
