@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
/*--------COLORS--------*/
/*The hsl() functional notation expresses a given color according to its hue, saturation, and lightness components.
An optional alpha ("hsla()") component represents the color's transparency.
Lightness as a third value in bracket means opacity.*/
/*text*/
/*very dark desaturated blue*/
/*background gradients*/
/*text*/
/*Very dark grayish blue*/
/*Dark grayish blue*/
/*dividers*/
/*Light grayish blue*/
/*other*/
/*----------------------*/
/*--------WIDTH---------*/
/*----------------------*/
/*------TYPOGRAPHY------*/
/*FONT weights*/
/*FONT family*/
/*FONT size*/
/*----------------------*/
/*--------COLORS--------*/
/*The hsl() functional notation expresses a given color according to its hue, saturation, and lightness components.
An optional alpha ("hsla()") component represents the color's transparency.
Lightness as a third value in bracket means opacity.*/
/*text*/
/*very dark desaturated blue*/
/*background gradients*/
/*text*/
/*Very dark grayish blue*/
/*Dark grayish blue*/
/*dividers*/
/*Light grayish blue*/
/*other*/
/*----------------------*/
/*--------WIDTH---------*/
/*----------------------*/
/*------TYPOGRAPHY------*/
/*FONT weights*/
/*FONT family*/
/*FONT size*/
/*----------------------*/
.main-faq {
  background: #fff;
  border-radius: 12px;
  margin: 0 auto;
  width: 70%; }
  @media (min-width: 375px) {
    .main-faq {
      max-width: 70%; } }

/*--------COLORS--------*/
/*The hsl() functional notation expresses a given color according to its hue, saturation, and lightness components.
An optional alpha ("hsla()") component represents the color's transparency.
Lightness as a third value in bracket means opacity.*/
/*text*/
/*very dark desaturated blue*/
/*background gradients*/
/*text*/
/*Very dark grayish blue*/
/*Dark grayish blue*/
/*dividers*/
/*Light grayish blue*/
/*other*/
/*----------------------*/
/*--------WIDTH---------*/
/*----------------------*/
/*------TYPOGRAPHY------*/
/*FONT weights*/
/*FONT family*/
/*FONT size*/
/*----------------------*/
.questions-answer {
  color: #787887;
  font-weight: 400; }

.questions-section__button {
  color: #4a4b5e;
  font-weight: 700;
  position: relative;
  border: none;
  background: #fff; }

.questions-section__header {
  display: flex;
  justify-content: space-between;
  align-items: center; }

/*--------COLORS--------*/
/*The hsl() functional notation expresses a given color according to its hue, saturation, and lightness components.
An optional alpha ("hsla()") component represents the color's transparency.
Lightness as a third value in bracket means opacity.*/
/*text*/
/*very dark desaturated blue*/
/*background gradients*/
/*text*/
/*Very dark grayish blue*/
/*Dark grayish blue*/
/*dividers*/
/*Light grayish blue*/
/*other*/
/*----------------------*/
/*--------WIDTH---------*/
/*----------------------*/
/*------TYPOGRAPHY------*/
/*FONT weights*/
/*FONT family*/
/*FONT size*/
/*----------------------*/
.attribution {
  margin-top: 100px;
  text-align: center;
  font-size: 11px; }
  .attribution__link {
    color: #1d1e35; }
  .attribution__name {
    color: #1d1e35; }

/*--------COLORS--------*/
/*The hsl() functional notation expresses a given color according to its hue, saturation, and lightness components.
An optional alpha ("hsla()") component represents the color's transparency.
Lightness as a third value in bracket means opacity.*/
/*text*/
/*very dark desaturated blue*/
/*background gradients*/
/*text*/
/*Very dark grayish blue*/
/*Dark grayish blue*/
/*dividers*/
/*Light grayish blue*/
/*other*/
/*----------------------*/
/*--------WIDTH---------*/
/*----------------------*/
/*------TYPOGRAPHY------*/
/*FONT weights*/
/*FONT family*/
/*FONT size*/
/*----------------------*/
@media (min-width: 375px) {
  .image-container__box {
    width: 191px;
    height: 194px;
    background: url("images/illustration-box-desktop.svg"); } }

@media (min-width: 375px) {
  .image-container__pattern {
    width: 966px;
    height: 945px;
    background: url("images/bg-pattern-desktop.svg"); } }

@media (min-width: 375px) {
  .image-container__woman {
    width: 472px;
    height: 359px;
    background: url("images/illustration-woman-online-desktop.svg"); } }

/*-------------------*/
/*universal box sizing with inheritance*/
/*pozwala m.in. na zdefiniowanie w ,,rodzicu" inny "box-sizing" (np. border-box)*/
html {
  box-sizing: border-box;
  scroll-behavior: smooth; }

*,
*:before,
*:after {
  box-sizing: inherit; }

/*-------------------*/
body {
  font-family: Kumbh Sans;
  font-size: 12px;
  color: #1d1e35;
  background: linear-gradient(#af67e9, #6565e7); }
