@import "../_variables.scss";

.attribution {
  margin-top: 3rem;
  text-align: center;
  font-size: 11px;

  &__link {
    color: $blueDark;
    &:hover {
      font-weight: $fontBold;
    }
  }

  &__name {
    color: $blueDark;
    &:hover {
      font-weight: $fontBold;
    }
  }
}
