@import "../_variables.scss";

.card {
  position: relative;

  &__box {
    margin: auto;
    position: absolute;
    display: none;
    top: 40%;
    left: -5.625rem;
    z-index: 9;
    @media (min-width: $mobile) {
      display: initial;
    }
  }
}

.card-main {
  background: $white;
  border-radius: 1.5rem;
  margin: 0 auto;
  width: 90%;
  position: relative;
  margin-top: 11rem;
}

@media (min-width: $mobile) {
  .card-main {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 50rem;
    margin-top: 0;
  }
}

.image-desktop {
  overflow: hidden;

  &__bg {
    display: none;
  }
}

.image-desktop__bg--pattern {
  margin: auto;
  position: absolute;
  margin: auto;
  margin-top: -34.6875rem;
  left: -35rem;
  z-index: 1;
}

.image-desktop__bg--woman {
  position: absolute;
  margin: auto;
  margin-top: -11.875rem;
  left: -5rem;
  z-index: 3;
}

@media (min-width: $mobile) {
  .image-desktop__bg {
    display: initial;
  }
}

.image-mobile__bg {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: -6.875rem;
}

.image-mobile__bg--pattern {
  top: 0;
}

.image-mobile__bg--woman {
  left: -1.625rem;
}

@media (min-width: $mobile) {
  .image-mobile {
    display: none;
  }
}
