@import "../_variables.scss";

.card-main {
  background: $white;
  border-radius: 1.5rem;
  margin: 0 auto;
  width: 90%;
  position: relative;
  margin-top: 11rem;
}

@media (min-width: $mobile) {
  .card-main {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 50rem;
    margin-top: 0;
  }
}

@keyframes rotateArrow {
  to {
    transform: rotate(180deg);
  }
}

@keyframes rotateArrowInverse {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}

details[open] > summary {
  color: $blueGrayishDark1;

  .question-summary__arrow {
    animation: rotateArrow 0.2s ease-out;
    animation-fill-mode: forwards;
  }
}

details > summary {
  .question-summary__arrow {
    animation: rotateArrowInverse 0.2s ease-out;
    animation-fill-mode: forwards;
  }
}

.question-answer {
  color: $blueGrayishDarkAccessible;
  font-weight: $fontRegular;
  width: 90%;
  line-height: 1.125rem;
  height: auto;
  margin-bottom: 1rem;
}

.question-details {
  padding: 1rem 0 0.5rem 0;
  border-width: 1px;
  border-style: solid none none none;
  border-color: $blueGrayishLight;

  &--5 {
    border-style: solid none;
  }
}

.question-summary {
  color: $blueGrayishDark2;
  font-weight: $fontBold;
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 0.625rem;
  transition: transform 0.2s linear;
  &:hover {
    color: $blueGrayishDark1;
    transform: scale(1.01);
    background: $blueGrayishLight;
    border-width: 4px;
    border-style: solid none none none;
    border-color: $white;
  }

  &__arrow {
    width: 10px;
    height: 7px;
  }
}

.text-container {
  margin: 8.75rem 1.5rem 5rem;
  padding-bottom: 4rem;
}

.title__header {
  text-align: center;
  margin-bottom: 1.5rem;
}

@media (min-width: $mobile) {
  .text-container {
    margin: 5rem 2.5rem 7.5rem 0;
    width: 40%;
    padding-bottom: 0;
  }

  .title__header {
    text-align: start;
  }
}
