@import "../_variables.scss";

.card-main {
  background: $white;
  border-radius: 1.5rem;
  margin: 0 auto;
  width: 90%;
  position: relative;
  margin-top: 11rem;
}

@media (min-width: $mobile) {
  .card-main {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 50rem;
    margin-top: 0;
  }
}
