@import "../_variables.scss";

.image-background {
  position: relative;

  &__box {
    margin: auto;
    position: absolute;
    display: none;
    @media (min-width: $mobile) {
      display: initial;
    }
  }
}

.image-desktop {
  overflow: hidden;
  &__bg {
    display: none;
  }
}

.image-desktop__bg--pattern {
  margin: auto;
  position: absolute;
  margin: auto;
  margin-top: -34.6875rem;
  left: -35rem;
}

.image-desktop__bg--woman {
  position: absolute;
  margin: auto;
  margin-top: -11.875rem;
  left: -5rem;
}

@media (min-width: $mobile) {
  .image-desktop {
    &__bg {
      display: initial;
    }
  }
}

.image-mobile__bg {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: -6.875rem;
}

.image-mobile__bg--pattern {
  top: 0;
}

.image-mobile__bg--woman {
  left: -1.625rem;
}

@media (min-width: $mobile) {
  .image-mobile {
    display: none;
  }
}

/*.image-container {
  &__box {
    @media (min-width: $mobile) {
      width: 191px;
      height: 194px;
      background: url("images/illustration-box-desktop.svg");
    }
  }

  &__pattern {
    width: 240px;
    height: 104px;
    background: url("images/bg-pattern-mobile.svg");
    top: 0;
    position: relative;
    @media (min-width: $mobile) {
      width: 966px;
      height: 945px;
      background: url("images/bg-pattern-desktop.svg");
      top: 0;
      position: relative;
    }
  }

  &__woman {
    width: 237px;
    height: 180px;
    background: url("images/illustration-woman-online-mobile.svg");
    @media (min-width: $mobile) {
      width: 472px;
      height: 359px;
      background: url("images/illustration-woman-online-desktop.svg");
    }
  }
}
*/
