@import "../_variables.scss";

.image-container {
  &__box {
    @media (min-width: $mobile) {
      width: 191px;
      height: 194px;
      background: url("images/illustration-box-desktop.svg");
    }
  }

  &__pattern {
    @media (min-width: $mobile) {
      width: 966px;
      height: 945px;
      background: url("images/bg-pattern-desktop.svg");
    }
  }
}
