@import "../_variables.scss";

.main-faq {
  background: $white;
  border-radius: 12px;
  margin: 0 auto;
  max-width: 75vw;
  position: relative;
  margin-top: 11rem;
}

@media (min-width: $mobile) {
  .main-faq {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 70vw;
  }
}
