@import "../_variables.scss";

.questions-answer {
  color: $blueGrayishDark2;
  font-weight: $fontRegular;
}

.questions-section {
  &__arrow {
    width: 10px;
    height: 7px;
    margin-right: 20px;
    transition: transform 0.2s linear;
    &:hover {
      transform: scale(2);
      &:active {
        transform: rotate(180deg);
      }
    }
  }
  &__button {
    color: $blueGrayishDark1;
    font-weight: $fontBold;
    position: relative;
    border: none;
    background: $white;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
