@import "../_variables.scss";

.questions-answer {
  color: $blueGrayishDark2;
  font-weight: $fontRegular;
}

.questions-section {
  &__button {
    color: $blueGrayishDark1;
    font-weight: $fontBold;
    position: relative;
    border: none;
    background: $white;
  }
}
